/*style
    border-radius: 80px;
    background: #4F1198;
    box-shadow: 0 0 3px 3px #B68EDF;
    color: #FCFCF6;
    text-align: center;
    font-family: "ABC Favorit Mono Variable Unlicensed Trial";
    font-size: 1.1em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
*/

body {
    background-image: url('images/backgroundimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.heading-img {
    width: 100vw;
    height: 138vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2em;
    justify-content: center;
}



nav ul {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, auto);
}

nav ul li {
    padding: 0.2em;
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style-type: none;

}


nav ul li a {
    width: 12em;
    padding: 0.75em 0.25em;
    align-items: center;
    border-radius: 80px;
    background: #B68EDF;
    color: #FCFCF6;
    text-align: center;
    font-family: "ABC Favorit Mono Variable Unlicensed Trial";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}

nav ul li a:hover {
    border-radius: 80px;
    background: #4F1198;
    box-shadow: 0 0 3px 3px #B68EDF;
}

nav ul li a.active {
    border-radius: 80px;
    background: #4F1198;
    box-shadow: 0 0 3px 3px #B68EDF;
}

#What {
    color: #9DE018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 18em;
    margin-bottom: 1em;
}

#Where {
     color: #9DE018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#Workshop {
      color: #9DE018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

p {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.75em;
    line-height: 1.3;
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 2.5em;
}

.mid {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: left;
    margin-left: 8em;
    margin-right: 8em;
}

#container{
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: left;
    margin-left: 8em;
    margin-right: 8em;
}
#floated{
    float: RIGHT;
}

#floated img {
    max-width: 25em;
    margin-left : 2em;
    margin-bottom: 2em;
}

.containdiagram {
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.diagram {
    width: 100%;    
}


@media (max-width: 900px) {


    body {
        background-image: none;
        height: 100vh;
        margin: 7em;
    }

}

@media (max-width: 450px) {

    body {
        background-image: none;
        height: 100vh;
        margin: 7em;
    }

}