@font-face{
font-family: "HARBER-trial";
src: url('HARBER-trial-Light.woff'), format('woff');
font-weight: 9;
font-style: normal;}
@font-face{
font-family: "HARBER-trial";
src: url('HARBER-trial-Regular.woff'), format('woff');
font-weight: 10;
font-style: normal;}

@font-face{
font-family: "ABC Favorit Variable Unlicensed Trial";
src: url('ABCFavoritVariableEdu-Regular.woff'), format('woff');
font-weight: 9;
font-style: normal;}
@font-face{
font-family: "ABC Favorit Mono Variable Unlicensed Trial";
src: url('ABCFavoritMonoVariableEdu-Regular.woff'), format('woff');
font-weight: 10;
font-style: normal;}

body {
    background-image: url('images/backgroundimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
}

#popup01 {
    margin-top: 5em;
    border: 2px solid #88e018;
    width: 100%;
    overflow: scroll;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px #88e018;
}

.popupheadline {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    padding: 5px 10px 0px 10px;
    color: #88e018;
}

.popupcontent {
    padding:1.5em;
}

#popup01 hr {
    border: 1px solid #88e018;
    padding: 0;
}

.heading-img {
    width: 100vw;
    height: 138vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2em;
    justify-content: center;
}



nav ul {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, auto);
}

nav ul li {
    padding: 0.2em;
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style-type: none;

}


nav ul li a {
    width: 12em;
    padding: 0.75em 0.25em;
    align-items: center;
    border-radius: 80px;
    background: #B68EDF;
    color: #FCFCF6;
    text-align: center;
    font-family: "ABC Favorit Mono Variable Unlicensed Trial";
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}

nav ul li a:hover {
    border-radius: 80px;
    background: #4F1198;
    box-shadow: 0 0 3px 3px #B68EDF;
}

nav ul li a.active {
    border-radius: 80px;
    background: #4F1198;
    box-shadow: 0 0 3px 3px #B68EDF;
}

#What {
    color: #88e018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 18em;
    margin-bottom: 1em;
}

#prompt {
    color: #88e018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#library {
    color: #88e018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#Where {
    color: #88e018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#Workshop {
    color: #88e018;
    font-family: HARBER-trial;
    font-size: 64px;
    font-style: normal;
    font-weight: 9;
    line-height: normal;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

p {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.75em;
    line-height: 1.3;
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 2.5em;
}

.mid {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: left;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 0;
}

#container {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: left;
    margin-left: 8em;
    margin-right: 8em;
}

#floated {
    float: RIGHT;
}

#containerleft {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: left;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1.5em;
}

#containerright {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: left;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1.5em;
}

#floatedright {
    float: right;
}

#floatedright img {
    max-width: 22em;
    margin-left: 0.5em;
    margin-bottom: 0em;
}

#floatedleft {
    float: left;
}

#floatedleft img {
    max-width: 22em;
    margin-left: 0em;
    margin-bottom: 0em;
}

#floated img {
    max-width: 22em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.containdiagram {
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.containdiagrampainting {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
    margin-bottom: 2em;
}

.diagram {
    width: 100%;
}

.button {
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: -2em;
    margin-bottom: 2.5em;
    justify-content: center;
}

.button a {
    width: 12em;
    padding: 0.75em 1.25em;
    border-radius: 80px;
    background: #88e018;
    color: #FCFCF6;
    text-align: center;
    font-family: "ABC Favorit Mono Variable Unlicensed Trial";
    text-decoration: none;
    font-size: 1em;
}

.button a:hover {
    border-radius: 80px;
    background: #88e018; 
    box-shadow: 0 0 3px 3px #9cff1ba5;
}


table, th, td {
  border-collapse: collapse;
  margin-bottom: 10em;
  text-align: left;
  font-family: "ABC Favorit Mono Variable Unlicensed Trial";
}

th {
padding: 0.75em;
 color: #88e018;
}

td {
border: 1px solid #88e018;
padding: 0.75em;
background-color: transparent;
font-family: "ABC Favorit Mono Variable Unlicensed Trial";
}

td a {
    text-decoration: none;
    color: #000000;
}

td a:hover {
    text-decoration: none;
    color: #88e018;
}

table {
    border: 1px solid #88e018;
    background-color: transparent;
    margin: 0.5em;
    margin-bottom: 10em;
}

ol {
    font-family: "ABC Favorit Variable Unlicensed Trial";
    font-weight: 350;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: left;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
    margin-bottom: 0;
}
ol li{
padding-top: 0.75em;
}

ol li ol {
    margin-top: 0.5em;
    padding-left: -6em;
    margin-left: -0.5em;
}

ol li ol li{
font-family: "ABC Favorit Variable Unlicensed Trial";
font-weight: 700;
font-size: 0.7em;
padding-top: 0;

}

.library {
    display: flex;
    justify-content: center;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 4em;
    margin-bottom: 8em;
}

.click {
    display: inline-block;
    position: relative;
    font-family: "ABC Favorit Mono Variable Unlicensed Trial";
    font-size: 1em;
    color: #FCFCF6;
    background-color: #88e018;
    text-decoration: none;
    border-radius: 2em;
    transition: all 0.2s ease-out;
    overflow: hidden;
    cursor: pointer;
}


.click:hover {
    border-radius: 80px;
    background: #88e018; 
    box-shadow: 0 0 3px 3px #9cff1ba5;
}

.click span::after {
    content: attr(data-text);
    position: absolute;
    left: 150%;
    width: 100%;
    text-align: center;
}

.click:hover .clickcontent {
    animation: clickAnim 1.75s linear infinite;
    animation-play-state: running;
}

@keyframes clickAnim {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);
    }
}


@media (max-width: 900px) {


    body {
        background-image: none;
        height: 100vh;
        margin: 0.5em;
    }

}

@media (max-width: 450px) {

    body {
        background-image: none;
        height: 100vh;
        margin: 0.25em;
    }

}